# NLP Project

In [ ]:
# pip install langdetect -- upgrade

In [ ]:
# pip install googletrans --upgrade

In [ ]:
# pip install translate

In [ ]:
# !pip install translate

In [ ]:
# pip install py-translate

In [33]:
# !pip install httpx

In [35]:
# !pip install textblob

In [55]:
# !pip install langid

In [39]:
import nltk as nltk
import pandas as pd
from langdetect import detect
from googletrans import Translator
from translate import translator,translate

In [ ]:
# pip show googletrans

In [41]:
# import dataset 
df=pd.read_csv(r'Restaurant_Reviews.tsv',sep='\t')

In [42]:
revdf=df[['Review']]
revdf

                                                Review
0                             Wow... Loved this place.
1                                   Crust is not good.
2            Not tasty and the texture was just nasty.
3    Stopped by during the late May bank holiday of...
4    The selection on the menu was great and so wer...
..                                                 ...
995  I think food should have flavor and texture an...
996                           Appetite instantly gone.
997  Overall I was not impressed and would not go b...
998  The whole experience was underwhelming, and I ...
999  Then, as if I hadn't wasted enough of my life ...

[1000 rows x 1 columns]

In [43]:
# language detect and translation 
def lang_detect(data:'df column'):
    lang=detect(data)
    return lang

In [44]:
revdf['language']=revdf.Review.apply(lang_detect)
revdf

                                                Review language
0                             Wow... Loved this place.       en
1                                   Crust is not good.       en
2            Not tasty and the texture was just nasty.       en
3    Stopped by during the late May bank holiday of...       en
4    The selection on the menu was great and so wer...       en
..                                                 ...      ...
995  I think food should have flavor and texture an...       en
996                           Appetite instantly gone.       en
997  Overall I was not impressed and would not go b...       en
998  The whole experience was underwhelming, and I ...       en
999  Then, as if I hadn't wasted enough of my life ...       en

[1000 rows x 2 columns]

In [45]:
revdf.language.value_counts()

en    962
af     11
fr      5
da      4
nl      3
de      2
so      2
no      2
ca      2
ro      2
et      2
it      1
tl      1
sq      1
Name: language, dtype: int64

In [46]:
# language detection and translation function
def lang_trans(data:'data_colomn'):
    translator=Translator()
    translated=translator.translate(data)
    return translated.text

In [18]:
revdf['trans_review']=revdf.Review.apply(translate_to_english)
revdf[['trans_review']]

                                          trans_review
0                             Wow... Loved this place.
1                                   Crust is not good.
2            Not tasty and the texture was just nasty.
3    Stopped by during the late May bank holiday of...
4    The selection on the menu was great and so wer...
..                                                 ...
995  I think food should have flavor and texture an...
996                           Appetite instantly gone.
997  Overall I was not impressed and would not go b...
998  The whole experience was underwhelming, and I ...
999  Then, as if I hadn't wasted enough of my life ...

[1000 rows x 1 columns]

In [19]:
revdf['language']=revdf.Review.apply(lang_detect)
revdf

,Review,language,trans_review
0,Wow... Loved this place.,en,Wow... Loved this place.
1,Crust is not good.,en,Crust is not good.
2,Not tasty and the texture was just nasty.,en,Not tasty and the texture was just nasty.
3,Stopped by during the late May bank holiday of...,en,Stopped by during the late May bank holiday of...
4,The selection on the menu was great and so wer...,en,The selection on the menu was great and so wer...
...,...,...,...
995,I think food should have flavor and texture an...,en,I think food should have flavor and texture an...
996,Appetite instantly gone.,en,Appetite instantly gone.
997,Overall I was not impressed and would not go b...,en,Overall I was not impressed and would not go b...
998,"The whole experience was underwhelming, and I ...",en,"The whole experience was underwhelming, and I ..."
999,"Then, as if I hadn't wasted enough of my life ...",en,"Then, as if I hadn't wasted enough of my life ..."

In [20]:
revdf.language.value_counts()

en    961
af     10
fr      5
nl      4
it      3
de      2
tl      2
so      2
no      2
ca      2
da      2
et      2
ro      1
es      1
sq      1
Name: language, dtype: int64

In [ ]:
# translate_text(revdf['Review'][26])